<!-- カタログ用スタイル：余白 -->
<div class='wrap'>
  <section class='section mixin'>
    <h2>Spacing</h2>
    <div class='fra--space_org'>
      {{#each spaces}}
        <div class='fra--space_mol'>
          <p>{{ class }}: </p>
          <div class='fra--space_atm pd--{{ class }}'>
          </div>
        </div>
      {{/each}}
  </section>
</div>