<!-- カタログ用スタイル：余白 -->
<div class='wrap'>
    <!-- for Mixin -->
    <section class='section mixin'>
        <div class='fra--space_org'>
            {{#each spaces}}
                <div class='fra--space_mol'>

                    <p>{{ class }}: </p>
                    <div class='fra--space_atm pd--{{ class }}'>

                    </div>
                </div>
            {{/each}}
    </section>

</div>