<div class="wrap wrap-def">
    <div class="section">
        <button class="btn {{className}}">
            <a href="#">
                {{text}}
            </div>
        </button>
    </div>
</div>