// FIXME! & TODO: All font size to => fx(num) / later 62.5% to 100%

/** Font-Sizes **/
// Start 8px End 48px Multiple 4px
$startPoint: 8;
$endPoint: 48;
$multiplePx: 4;

@for $i from 0 through calc(($endPoint - $startPoint) / $multiplePx) {
    .fz#{$startPoint + $i * $multiplePx} {
        font-size: calc(($endPoint - $startPoint) / $multiplePx) / 10rem;
    }
}

/*
Deprecation Warning: Using / for division outside of calc() is deprecated and will be removed in Dart Sass 2.0.0.
Recommendation:
math.div($endPoint - $startPoint, $multiplePx)
or
calc(($endPoint - $startPoint) / $multiplePx)
*/
