/* Error: expected ")".
 *   ,
 * 1 | $colors: (white: white,
 *   |                        ^
 *   '
 *   assets/css/utility/_variable.sass 1:24  @import
 *   assets/css/utility/_00-mixin.sass 7:9   @import
 *   assets/css/style.sass 1:9               root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected ")".\a   \2577 \a 1 \2502  $colors: (white: white,\a   \2502                         ^\a   \2575 \a   assets/css/utility/_variable.sass 1:24  @import\a   assets/css/utility/_00-mixin.sass 7:9   @import\a   assets/css/style.sass 1:9               root stylesheet';
}
